# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
matplotlib
scikit-learn
pyyaml
h5py
torch
tensorflow >= 2.6

#computer vision
torch
facenet_pytorch
PIL
cv2
mediapipe
face_recognition
mtcnn


# API
dotenv
twilio


# utilities
six>=1.14
joblib
memoized-property
termcolor
random
time
imutils
typing
os
